*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}


html {
    scroll-behavior: smooth; /* Agregar scroll-behavior para el desplazamiento suave */
}



body {
    background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
}




header {
    display: flex; /* Utiliza flexbox para alinear elementos en una fila */
    align-items: center; /* Centra verticalmente los elementos */

}


.logo{
    position: absolute;
    top: 0;
    left: 60px;
    height:160px;;
}











/* _______________________AUTOMATIZANDO A SABIOS - TITULO_______________________ */
.titulo h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    font-size: 80px;
}

.titulo p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    text-align: center;
    font-weight: 20px;
    margin-right: 70px;
}










/* _______________________LOGIN BOTON_______________________ */
.login {
    position: fixed;
    top: 20px; /* Ajusta la distancia desde la parte superior */
    right: 20px; /* Ajusta la distancia desde la derecha */
    display: inline-block;
    background-color: #cc8e2b; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno interno del botón */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Alineación del texto */
    font-size: 16px; /* Tamaño de letra */
    text-decoration: none; /* Elimina el subrayado del enlace */
    cursor: pointer; /* Cambia el cursor al pasar el mouse sobre el botón */
}


.login:hover {
    background-color: #e37d00; /* Cambia el color de fondo al pasar el mouse */
}

.login a{
    text-decoration: none;
    color:#fff
}










/* _______________________MENU LATERAL_______________________ */

.nav{
    width: 320px;
}

.list{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px 16px 0;
    background: #fff;
    
}

.list_item{
    font-size: 20px;
    list-style: none;
    width: 100%;
    text-align: center;
    
}


.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
    
}


.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;
    
}


.list_item:hover{
    background: #dbe8ec;
}









/* _______________________ABOUT US_______________________ */
.acerca {
    width: 100%;
    height: auto; /* Cambiado a auto para que la altura se ajuste al contenido */
    background: #fff;
    overflow: hidden; /* Evitar que el contenido flote fuera del contenedor */
    padding: 20px; /* Añadir espacio alrededor del contenido */
}

.acerca h1 {
    font-size: 36px; /* Reducir el tamaño del título para que sea más legible */
    text-align: center;
    margin: 20px 0; /* margen entre el parrafo con el titulo superior */
    margin-left: 800px;
}

.acerca p {
    text-align: justify; /* Justifica el texto para que se ajuste al ancho */
    margin: 0; /* Eliminar el margen predeterminado */
}

.acerca #img-About-Us {
    max-width: 700px; /* Hacer que la imagen sea responsiva */
    height: auto; /* Permitir que la altura se ajuste proporcionalmente */
    float: left; /* Flotar la imagen a la izquierda */
    margin: 0 20px 20px 0; /* Espaciado alrededor de la imagen */
    margin-left: 40px;
}

.acerca #infoQuienesSomos {
    text-align: justify; /* Justificar el texto para que se ajuste al ancho */
}











/* _______________________FOOTER - CONTACTO_______________________ */
/* Estilos para el footer */
#footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    overflow: visible;
}

/* Estilos para los íconos de redes sociales */
.social-media a {
    color: #fff; /* Color del ícono de la red social */
    font-size: 24px; /* Tamaño del ícono */
    margin: 0 10px; /* Espaciado horizontal entre íconos */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
}

/* Estilos para el número de teléfono */
.social-media .bx.bxs-phone-call {
    display: block; /* Hace que el número sea un elemento de bloque */
    font-size: 20px; /* Tamaño del número de teléfono */
    margin-top: 10px; /* Espaciado superior */
}

/* Estilos para los íconos de contacto */
.social-media .bx.bxs-user-voice,
.social-media .bx.bx-user-circle {
    font-size: 24px; /* Tamaño de los íconos de contacto */
    margin-top: 10px; /* Espaciado superior */
}


#aviso{
    font-size: 12px;
    color: #64b3f4;
}